// 修改部分iview默认样式
// 只写iview样式，不包含其他全局样式
.ivu-btn {
	height: 28px;
	padding: 0 15px;
	font-size: 12px;
	border-radius: 0px;
}
.ivu-btn-default {
	background-color: #fff;
	border-color: #3091f2;
	color: #3091f2;
}
.ivu-btn.ivu-btn-icon-only {
	width: 32px;
	height: 32px;
	padding: 0;
	font-size: 16px;
}
.ivu-card {
	border-radius: 0;
}
// 侧边栏自定义背景
.ivu-layout-sider {
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	position: relative;
	background: #001529;
	min-width: 0;
}
.ivu-menu-dark {
	background: #001529;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened {
	background: #000c17;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item:hover, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title:hover {
	color: #fff;
	background: #001529;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened .ivu-menu-submenu-title {
	background: #001529;
}
.ivu-menu {
	display: block;
	margin: 0;
	padding: 0;
	outline: none;
	list-style: none;
	color: #515a6e;
	font-size: 14px;
	position: relative;
	z-index: 899;
}
.ivu-tooltip-inner-with-width {
	word-wrap: break-word;
	word-break: break-all;
}
.ant-btn {
	font-size: 12px;
	border-radius: 0;
}
.ant-search-btn {
	border-radius: 0px;
	box-shadow: none;
}
.ant-search-input {
	input {
		box-shadow: none;
		border-radius: 0px;
		font-size: 12px;
	}
}
.distribution-row-columns {
	font-size: 12px;
}
th.distribution-row-columns {
	color: #303445;
	background: #F6F7FB;
	font-weight: 500;
	border: none;
	border-right: 2px solid #FFF;
}
