// 修改部分iview默认样式
// 只写iview样式，不包含其他全局样式
.ivu-btn{
  height: 28px;
  padding: 0 15px;
  font-size: 12px;
  border-radius: 0px;
}
.ivu-btn-default{
  background-color: #fff;
  border-color: #3091f2;
  color: #3091f2;
}
.ivu-btn.ivu-btn-icon-only{
	width: 32px;
	height: 32px;
	padding: 0;
	font-size: 16px;
}
.ivu-card{
  border-radius: 0;
}